<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

<h1>My awesome Reading List</h1>

<a class="nav-link" [routerLink]="'/'">Home <span class="sr-only">(current)</span></a>

<button type="button" class="btn btn-secondary"> <a class="nav-link" [routerLink]="'/list-doc'">Danh sach Doc</a></button>
<button type="button" class="btn btn-secondary"> <a class="nav-link" [routerLink]="'/readDone'">Read Done List</a></button>
<router-outlet></router-outlet>

</body>
</html>
